body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #555;
}

.search-container {
    text-align: center;
}

.search-box {
    position: relative;
    display: inline-block;
}

input {
    padding: 10px;
    padding-left: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
}
#gogle {
    color: #2f2f2f;
    
}
